
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web App!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Welcome to my  first Flask web App
    </p>
    <p class="subtitle">
      This is a simple app for researchers
    </p>
  </div>
</section>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello young researchers!
      </h1>
      <p class="subtitle">
        Here, you can find the newly added  <strong>Scoupus journals</strong>! <br>
        <a href = "/h1"> Newly added Scoupus indexed journal(December 2021) </a>
      </p>
    </div>
  </section>
  </body>
</html>
